# Configuration moved to Config Server (gatewayserver.yml)

# Actuator Configuration (Local Override)
management:
  endpoints:
    web:
      base-path: /actuator
      exposure:
        include: health,info,beans,conditions,httpexchanges,metrics,prometheus
        exclude: threaddump, heapdump
  endpoint:
    health:
      show-details: always
